<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- title -->
  <title>SNS App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%# bootstrapのcssを追加する %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- Style -->
  <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
  <!-- Javascript -->
  <script src="<%= mix('/js/bootstrap.js') %>"></script>
  <!-- turbo.jsを追加します -->
  <script src="<%= mix('/js/turbo.js') %>"></script>
</head>
<body>
  <div class="main-container">
    <!--  ナビゲーションバー -->
    <header class="header-container">
      <div class="left">LOGO</div>
      <div class="right">
        <ul class="nav">
          <li class="li">
            <%= link_to index_home_path do %>
            <%# <a href="https://school.omusubi-tech-academy.net/"> %>
              <%= image_tag 'icons/home.png' %>
              <%# <img src="https://school.omusubi-tech-academy.net/icon/home.svg" alt="log" /> %>
            <% end %>
          </li>
          <li class="li">
            <%= link_to info_profile_path do %>
              <%= image_tag 'icons/Vector.png' %>
            <% end %>
          </li>
          <li class="li">
            <%= link_to follow_friend_path do %>
              <%= image_tag 'icons/users-solid1.png' %>
            <% end %>
          </li>
          <li class="li">
            <%= link_to name_search_path do %>
              <%= image_tag 'icons/magnify.png' %>
            <% end %>
          </li>
        </ul>
      </div>
    </header>

    <!-- アラートメッセージ -->
    <% if notice %>
      <div class="alert alert-success" role="alert">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger" role="alert">
        <%= alert %>
      </div>
    <% end %>

    <div class="bg-white text-dark">
      <%= yield %>
    </div>
  </div>
  <!-- Javascript -->
  <script src="<%= mix('/js/app.js') %>"></script>
</body>
</html>